@import "categories";
@import "product";
@import "search";
@import "promotions";
@import "quote";
@import "related";

.woocommerce-loop-product__title {
	min-height: 60px;
}

.woocommerce-page {
	main {
		margin-top: 20px;
	}
}

body.product-template-default.single.single-product {
	h1 {
		font-size: 1.5rem;
		@include media-breakpoint-up(md) {
			font-size: 2.5rem;
		}
	}
	p.stock {
		display: none;
	}
	.single_add_to_cart_button {
		@extend .btn-secondary;
	}
	main {
		@extend .container;
	}
}

.woocommerce-loop-product__link {
	text-align: center;
}

.add_to_cart_button {
	@extend .btn-secondary;
	border: none;
}

.woocommerce-pagination {
	margin-bottom: 2rem;
}

form.cart {
	button {
		@extend .btn-secondary;
	}
}

// Remove padding from container in all woocommerce pages

body.woocommerce-page {
	div.wrapper > div {
		padding-left: 0 !important;
		padding-right: 0 !important;
		main {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

// Réserver ce bijou
body.page-id-15470,
body.page-id-7735 {
	article {
		@include media-breakpoint-up(md) {
			margin-left: 15px;
		}
	}
}
