// Remove sidebard en css pour le blog
body.blog {
	.widget-area {
		display: none;
	}
}


html[lang^='en'] body.blog {
	main:before {
		content: "The Magnifying Glass";}
}
html[lang^='fr'] body.blog {
	main:before {
		content: "La Loupe à L'Oeil";}
}

body.blog {
	main:before {
		//content: "La Loupe à L'Oeil";
		font-family: $font-head;
		font-size: 6rem;
		text-align: center;
		color: $primary;
		display: block;
		margin: auto;
		border-bottom: 1px solid #ebebeb;

	}
	article {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 225px 225px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@extend .order-1;
		}

		header {
			align-self: end;
			@extend .order-2;
			a:hover {
				text-decoration: none;
			}
		}

		.entry-content {
			@extend .order-3;
		}

		footer {
			@extend .order-4;
			padding-bottom: 2rem;
			@include media-breakpoint-up(md) {
				padding-bottom: inherit}

		}

		header,
		.entry-content,
		footer {
			@include media-breakpoint-up(md) {
			padding-left: 2rem;
			padding-right: 2rem;}
		}

	}

	article:nth-of-type(odd) {

		header {
			grid-column: 2;
			grid-row: 1;
		}

		img {
			grid-column: 1;
			grid-row: 1 / 3;

		}

		.entry-content {
			grid-column: 2;
			grid-row: 2;
		}

		footer {
			grid-column: 2;
			grid-row: 3;
		}
	}

	article:nth-of-type(even) {


		header {
			grid-column: 1;
			grid-row: 1;
		}

		img {
			grid-column: 2;
			grid-row: 1 / 3;

		}

		.entry-content {
			grid-column: 1;
			grid-row: 2;
		}

		footer {
			grid-column: 1;
			grid-row: 3;
		}
	}
}


// Single post
@import "single-post";
// Post-navigation
@import "navigation";