// Remove sidebard en css pour le blog
body.blog {
	.widget-area {
		display: none;
	}
}


body.blog {
	main:before {
		content: "La Loupe à L'Oeil";
		font-family: $font-head;
		font-size: 6rem;
		text-align: center;
		color: $primary;
		display: block;
		margin: auto;
		border-bottom: 1px solid #ebebeb;

	}
	article {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 225px 225px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@extend .order-1;
		}

		header {
			align-self: end;
			@extend .order-2;
			a:hover {
				text-decoration: none;
			}
		}

		.entry-content {
			@extend .order-3;
		}

		footer {
			@extend .order-4;
		}

		header,
		.entry-content,
		footer {
			padding-left: 2rem;
			padding-right: 2rem;
		}

	}

	article:nth-of-type(odd) {

		header {
			grid-column: 2;
			grid-row: 1;
		}

		img {
			grid-column: 1;
			grid-row: 1 / 3;

		}

		.entry-content {
			grid-column: 2;
			grid-row: 2;
		}

		footer {
			grid-column: 2;
			grid-row: 3;
		}
	}

	article:nth-of-type(even) {


		header {
			grid-column: 1;
			grid-row: 1;
		}

		img {
			grid-column: 2;
			grid-row: 1 / 3;

		}

		.entry-content {
			grid-column: 1;
			grid-row: 2;
		}

		footer {
			grid-column: 1;
			grid-row: 3;
		}
	}
}

// Article seul
.single-post {
	main {
		width: 100%;
		max-width: 960px;
		margin: auto;}
		article {
		h1 {
			text-align: center;
			font-size: 3rem;
			font-family: $font-head;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;

			@include media-breakpoint-up(md) {
				font-size: 6rem;
			}
		}

		div.entry-meta {
			display: flex;
			flex-direction: row;
			margin-bottom: 1rem;

			@include media-breakpoint-up(md) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.article--avatar {
				border-radius: 100%;
				width: 50px;
				height: 50px;
				object-fit: cover;

				@include media-breakpoint-up(md) {
					width: 150px;
					height: 150px;
				}
			}
		}
	}
}

.article-img--hero {

	img {
		width: 100%;
		height: fit-content;
		object-fit: cover;
	}
}


