


nav.navbar {
    
    border-bottom: 1px solid $fourthcolor;
    background-color: white;
    width: 100%;
    

    img {
        
        width: 200px;
        @include media-breakpoint-up(md) { 
            width: 250px;
            padding-left: 15px; }
    }
}

.nav--top {
    background-color: $primary;
    a {
        color: white;
    }
}
#top_menu {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-weight: 300;
    li:first-of-type {
       display: none;
       @include media-breakpoint-up(md) { display: inherit;}
    }
    a {
        padding-left: 15px;
        padding-right: 15px;
        transition: all 200ms ease-in-out;
        &:hover {
            color: $primary;
            background: white;
        }
    }
    
}

#main-menu,
.nav--main {
    width: 100%;
    justify-content: flex-end;
    
	li {
        @include media-breakpoint-up(lg) { 
            margin-left: 15px;
        }
		a {
			text-transform: uppercase;
			transition: all 150ms ease-in-out;
           
			&:hover,
			&.active {
				background-color: $primary;
				color: white;
			}
		}
    }




}

.navbar-toggler {
	border: 2px solid $primary;
	color: $primary;
	padding-top: 12px;
	padding-bottom: 12px;
}
