// Déclarations des polices des caractères

@font-face {
	font-family: "Elephant";
	font-display: auto;
	src: url("https://res.cloudinary.com/prospection/raw/upload/v1574792695/boiteabijoux/ELEPHNT.TTF")
		format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Elephant Italic";
	font-display: auto;
	src: url("https://res.cloudinary.com/prospection/raw/upload/v1574792697/boiteabijoux/ELEPHNTI.TTF")
		format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Ball Decoration

%ballDecoration {
	@include media-breakpoint-up(lg) {
		width: 50px;
		height: 50px;
		display: block;
		position: relative;
		background-repeat: no-repeat;
	}
}

// Ball Shadow
%shadowTemplate {
	@include media-breakpoint-up(lg) {
		position: absolute;
		width: 100%;
		height: 100%;
		background: radial-gradient(
			circle at 50% 50%,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.1) 40%,
			rgba(0, 0, 0, 0) 50%
		);
		//transform: rotateX(90deg) translateZ(220px);
		z-index: -1;
	}
}

main.christmas {
	* {
		transition: border 250ms ease-in-out;
		transition: background 300ms ease-in-out;
	}

	a:hover {
		text-decoration: none;
	}

	padding: 30px;
	// Background de flocons (multiple image background)
	@include media-breakpoint-up(lg) {
		background-image: url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon1.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon2.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon3.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon4.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712718/boiteabijoux/flocon5.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712718/boiteabijoux/flocon6.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon1.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon2.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon3.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon4.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712718/boiteabijoux/flocon5.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712718/boiteabijoux/flocon6.png),
			url(https://res.cloudinary.com/prospection/image/upload/v1574712723/boiteabijoux/flocon3.png);
		background-repeat: no-repeat;
		background-position: 10% 5%, 30% 15%, 55% 35%, 40% 40%, 80% 20%, 35% 75%,
			90% 60%, top, center, right, left, bottom, 100% 0%;
	}
}

.christmas__header {
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		text-align: center;
		color: $primary;
		@extend %page__title;
	}
	@include media-breakpoint-up(lg) {
		height: 200px;
	}
}

.christmas__row {
	max-width: 1200px;
	// garder padding top et bottom égal pour center le background (ligne horizontale)
	padding-top: 80px;
	padding-bottom: 80px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include media-breakpoint-up(lg) {
		flex-direction: row;
	}
	&.revealed {
		@include media-breakpoint-up(lg) {
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) calc(50% - 2px),
				$primary calc(50%),
				rgba(0, 0, 0, 0) calc(50% + 3px)
			);
			// &:hover {
			// 	background: linear-gradient(
			// 		180deg,
			// 		rgba(0, 0, 0, 0) calc(50% - 2px),
			// 		$secondary calc(50%),
			// 		rgba(0, 0, 0, 0) calc(50% + 3px)
			// 	);
			// }
		}
	}
}

.balls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
	@include media-breakpoint-up(lg) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.date {
	margin-bottom: 60px;
	@include media-breakpoint-up(lg) {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: -100px;
		transform: rotate(-90deg);
	}
}

.christmas__spacer {
	width: 108px;
}

.date__wrapper {
	background: url(https://res.cloudinary.com/prospection/image/upload/v1574782843/boiteabijoux/ruban.png);
	background-repeat: no-repeat;
	width: 208px;
	height: 54px;
	background-size: cover;
}

.date__text {
	font-family: "Elephant";
	font-size: 20px;
	display: block;
	color: white;
	width: 100%;
	transform: rotate(360deg);
	text-align: center;
	justify-content: center;
	line-height: 3;
}

.ball {
	border-radius: 100%;
	img {
		object-fit: cover;
		border-radius: 100%;
	}
}

.ball--big {
	width: 250px;
	height: 250px;
}

.ball--small {
	width: 211px;
	height: 211px;
	&.ball--empty {
		width: 50px;
		height: 50px;
		@include media-breakpoint-up(lg) {
			width: 211px;
			height: 211px;
		}
	}
}

.ball--empty {
	@include media-breakpoint-up(lg) {
		border: 4px solid $primary;
		perspective: 600px;
		perspective-origin: top;
	}
	&.ball--big {
		.ball__shadow {
			@extend %shadowTemplate;
			transform: rotateX(90deg) translateZ(250px);
		}
		border: 4px solid $primary;
		@include media-breakpoint-down(sm) {
			margin-bottom: 60px;
		}
	}

	&.ball--small {
		.ball__shadow {
			@extend %shadowTemplate;
			transform: rotateX(90deg) translateZ(240px);
		}
		@include media-breakpoint-down(sm) {
			display: flex;
			flex-direction: row;
			width: 100%;
			align-items: center;
			height: auto;
			* {
				display: flex;
			}
			a:first-of-type {
				width: 20%;
				flex-basis: 20%;
			}
			a:nth-of-type(2) {
				width: 80%;
				flex-basis: 80%;
			}
		}
	}
}

.ball--empty {
	&.ball--small {
		&::after {
			@include media-breakpoint-up(lg) {
				content: "";
				width: 50px;
				height: 50px;
				display: block;
				position: relative;
				background-repeat: no-repeat;
				background-image: url(https://res.cloudinary.com/prospection/image/upload/v1574714607/boiteabijoux/bout-boule.png);
				margin-top: -365px;
				margin-left: 130px;
				transform: rotate(25deg);
			}
		}
	}
}

.ball--empty {
	&.ball--small {
		&:hover {
			&::after {
				@include media-breakpoint-up(lg) {
					width: 50px;
					height: 50px;
					display: block;
					position: relative;
					background-repeat: no-repeat;
					content: "";
					background-image: url(https://res.cloudinary.com/prospection/image/upload/v1574872229/boiteabijoux/bout-jaune.png);
					margin-top: -365px;
					margin-left: 130px;
					transform: rotate(25deg);
				}
			}
		}
	}
	&.ball--big {
		// &:hover {
		// 	&::after {
		// 		width: 50px;
		// 		height: 50px;
		// 		display: block;
		// 		position: relative;
		// 		background-repeat: no-repeat;
		// 		content: "";
		// 		background-image: url(https://res.cloudinary.com/prospection/image/upload/v1574872229/boiteabijoux/bout-jaune.png);
		// 		margin-top: -385px;
		// 		margin-left: 155px;
		// 		transform: rotate(25deg);
		// 	}
		// }

		&::after {
			width: 50px;
			height: 50px;
			display: block;
			position: relative;
			background-repeat: no-repeat;
			content: "";
			background-image: url(https://res.cloudinary.com/prospection/image/upload/v1574714607/boiteabijoux/bout-boule.png);
			margin-top: -385px;
			margin-left: 155px;
			transform: rotate(25deg);
		}
	}
}

.ball--full {
	margin-top: 60px;
	margin-bottom: 80px;

	@include media-breakpoint-up(lg) {
		margin-left: 30px;
		margin-right: 30px;
	}
	perspective: 600px;
	perspective-origin: top;
	background: radial-gradient(
		circle at 100px 100px,
		lighten($primary, 1%),
		$primary
	);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 2;
	box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.4),
		15px 15px 2px rgba(0, 0, 0, 0.02);
	.ball__shadow {
		@extend %shadowTemplate;
		transform: rotateX(90deg) translateZ(-110px);
	}

	&::after {
		width: 50px;
		height: 50px;
		display: block;
		position: relative;
		background-repeat: no-repeat;
		content: "";
		background-image: url(https://res.cloudinary.com/prospection/image/upload/v1574714607/boiteabijoux/bout-boule.png);
		margin-top: -365px;
		margin-left: 135px;
		transform: rotate(25deg);
	}
}

.ball--full__date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	.ball--full__date--day,
	.ball--full__date--month {
		display: flex;
		text-align: center;
		color: white;
		font-family: "Elephant";
	}
	.ball--full__date--day {
		font-size: 100px;
		line-height: 1;
	}
	.ball--full__date--month {
		font-size: 16px;
		text-transform: uppercase;
	}
}

.ball--small {
	.kit__name {
		@include media-breakpoint-up(lg) {
			margin-top: 40px;
		}
	}
}

.ball--big {
	.kit__name {
		@include media-breakpoint-up(lg) {
			margin-top: 20px;
		}
	}
}

.kit__name {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: $primary;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height: 100px;
	@include media-breakpoint-down(sm) {
		align-items: center;
		padding-left: 10px;
		&.kit--big {
			margin-top: 20px;
		}
	}
}

// Hover Effects

.ball--small:hover {
	&.ball--empty {
		border-color: $secondary;
		.kit__name {
			color: $secondary;
		}
	}
}
