
main.contact {
    h1 {
        text-align: center;
        font-family: $font-head;
        color: $primary;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 6rem;
    }
    .localization {
        margin-bottom: 2rem;
    }
    address {
        text-align: center;
    }

    h3 {
        color: white;
        background-color: $primary;
        border-radius: 6px;
        padding: 6px 6px 6px 12px;
        font-size: 1.2rem;
        font-weight: 100;
        margin-bottom: 1rem;
        &:not(:first-of-type) {
            margin-top: 1rem;
        }
    }
    
    .schedule {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .buttonGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .btn {
            margin: 1rem;
        } 

        @include media-breakpoint-up(md) { 
            flex-direction: row;
            justify-content: space-evenly;
            margin: auto;

        }
    }
}

/* Formulaire */

.gform_wrapper {
    margin-top: 0;
}
.gform)title {
    font-weight: 100;
}