.btn {
    border-radius: 25px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
} 

.btn-lg {
    padding-left: 24px;
    padding-right: 24px;
}

// Button Contact form
.gform_button {
    @extend .btn;
    @extend .btn-secondary;
}

button > a:hover {
    text-decoration: none;
}