// Grille de mise en page pour les blocs alternés (page services par exemple)


$blockpadding: 1.5rem;
$blockpadding-md: 3rem;
$blockpadding-lg: 5rem;

.block--half {
	@extend .col-12;
	@extend .col-lg-6;
	@extend .d-flex;
	@extend .flex-column;
	@extend .justify-content-center;
	padding: 0 !important;
	margin: 0 !important;

	h2,
	p {
		word-break: break-word;
		padding-left: $blockpadding;
		padding-right: $blockpadding;
		@include media-breakpoint-up(md) { 
			padding-left: $blockpadding-md;
			padding-right: $blockpadding-md;
		 }
		@include media-breakpoint-up(lg) { 
			padding-left: $blockpadding-lg;
			padding-right: $blockpadding-lg;
		 }
	}

	h2 {
		font-family: $font-main;
		font-size: 2rem;
		font-weight: 100;
		color: $primary;
		padding-top: 2rem;
		padding-bottom: 2rem;
		@include media-breakpoint-up(md) { 
			padding-top: 4rem;
		}
		@include media-breakpoint-up(lg) { 
			padding-top: inherit;
		}
	}

	p {
		padding-bottom: 2rem;
		@include media-breakpoint-up(md) { 
			padding-bottom: 4rem;
		}
		@include media-breakpoint-up(lg) { 
			padding-bottom: inherit;
		}

	}
}

.wp-block-column {
	@extend .block--half;
}


.row--flex {
	@extend .row;
	@extend .no-gutters;
	@extend .d-flex;
	@extend .flex-md-row;
}

.row--flex-r {
	@extend .row;
	@extend .no-gutters;
	@extend .d-flex;
	@extend .flex-md-row-reverse;
}

.wp-block-columns:nth-of-type(odd) {
	&.has-2-columns {
		@extend .row--flex;
	}
}

.wp-block-columns:nth-of-type(even) {
	&.has-2-columns {
		@extend .row--flex-r;
	}
}


.block--image {
	@extend .col-12;
	@extend .col-md-6;
	padding: 0;

}

.wp-block-image {
	width: 100%;
	height: 100%;
	margin: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}




.block--text {

	h2 {
		color: $primary;
		font-weight: 100;

		@include media-breakpoint-up(md) {
			padding-top: 10px;
			padding-bottom: 20px;
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: 30px;
		}
	}

	padding: 40px;

	@include media-breakpoint-up(md) {
		padding: 80px;
	}

	@include media-breakpoint-up(md) {
		padding: 100px;
	}
}
